bru.xsd

<!--
BatchResourceUpdater: program for automated reading, writing, and removing resources from pe-files
Copyright (C) 2012  Jeffrey Bush  jeff@coderforlife.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- This file is minified to schema.bin which needs to be regenerated every time this file is changed -->
<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="overwrite">
    <xs:restriction base="xs:string">
      <xs:enumeration value="always"/>
      <xs:enumeration value="never"/>
      <xs:enumeration value="only"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="index">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BatchResourceUpdate">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">

        <xs:element name="Var">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="index" type="index" use="required" />
          </xs:complexType>
        </xs:element>

        <xs:element name="Copy">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Source" type="xs:string" maxOccurs="1" />
              <xs:element name="Destination" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="overwrite" type="overwrite" default="always" />
          </xs:complexType>
        </xs:element>

        <xs:element name="Clean" type="xs:string" />

        <xs:element name="Remove" type="xs:string" />

      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>